@use 'variable' as *;

.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 2.5rem 1rem 1rem;
  background-color: $background-color;
}

.header-logo {
  width: 7.75rem;
  display: block;
  margin: 0 auto;
}

.header-button-group {
  position: absolute;
  bottom: 0.75rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;

  .header-language,
  .header-menu {
    position: relative;
  }
}

.header-button {
  font-family: $subheading-font;
  font-size: 0.8125rem;
  text-transform: uppercase;
  background-color: #fff;
  box-shadow: rgba(40, 40, 40, 0.05) 0 3px 3px 0.1px;
}

.header-language-button {
  width: 1.75rem;
  height: 1.75rem;
  padding: 8px;
  border-radius: 50%;

  &:active {
    color: $brand-color;
  }
}

.header-menu-button {
  padding: 0.5rem 0.75rem;
  font-weight: 400;
  border-radius: 1.75rem;
}

.header-menu-close-button {
  padding: 8px 0;
  background-color: transparent;
  box-shadow: none;
}

.header-language-menu {
  position: absolute;
  top: calc(100% + 0.5rem);
  right: 0;
  width: max-content;
  padding: 0.5rem;
  font-family: $subheading-font;
  font-size: 0.8125rem;
  font-weight: 400;
  background-color: #fff;
  box-shadow: rgba(40, 40, 40, 0.05) 0 3px 3px 0.1px;
  border-radius: 0.25rem;
  text-transform: uppercase;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-0.5rem);
  transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.2s ease;

  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0);
  }

  li {
    min-width: 96px;

    a {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 0.5rem 0.75rem 0.5rem 0.5rem;

      img {
        width: 1rem;
        height: 1rem;
        border-radius: 100%;
      }
    }
  }
}

.header-menu-menu {
  position: absolute;
  top: calc(100% + 0.5rem);
  right: -1rem;
  width: 100vw;
  height: 100vh;
  font-size: 0.8125rem;
  font-family: $subheading-font;
  font-weight: 400;
  text-transform: uppercase;
  background-color: $background-color;

  @media (min-width: $large) {
    backdrop-filter: blur(30px);
    background-color: rgba(40, 40, 40, 0.05);
  }

  .header-menu-menu-wrapper {
    max-width: 21.375rem;
    margin: 0 auto;
    padding: 3rem 0;
    border-radius: 0.5rem;

    @media (min-width: $large) {
      min-width: 37.5rem;
      margin: 1rem 2.5rem 0 auto;
      padding: 4rem 2.5rem;
      font-size: 1rem;
      background-color: #fff;
    }
  }

  ul {
    margin-bottom: 2.5rem;

    @media (min-width: $large) {
      display: grid;
      grid-template-columns: 10.5rem 1fr;
      gap: 1rem;
      margin-bottom: 4rem;

      li:not(:first-child) {
        grid-column: 2;
      }
    }

    li {
      margin-bottom: 1.25rem;

      @media (min-width: $large) {
        margin: unset;
      }
    }

    li:first-child {
      margin-bottom: 1.5rem;
      vertical-align: middle;

      @media (min-width: $large) {
        margin: unset;
        grid-column: 1;
      }

      &::before {
        content: '';
        display: inline-block;
        position: relative;
        top: 1px;
        margin-right: 0.5rem;
        width: 0.6875rem;
        height: 0.6875rem;
        background-color: $text-color;
      }
    }
  }
}

.is-menu-open {
  overflow: hidden;
}
