@use 'variable' as *;

.numbers-section {
  h2 {
    font-family: $subheading-font;
    font-size: 3rem;
    text-align: center;
  }
  .numbers-card {
    @include card;
    gap: $space-lg;
    margin: $space-md;
    height: 15rem;
    dt {
      font-size: 4rem;
    }
    dd {
      position: relative;
      margin-left: 0;
      padding-left: $space-md;
      font-family: $body-font;
      font-size: 1.5rem;

      &::before {
        @include square-bullet;
        top: 0.5rem;
        left: 0;
      }
    }
  }
}
