// Colors
$brand-color: #5f5aff;
$background-color: #f4f4f4;
$text-color: #282926;
$secondary-color: #759093;
$form-color: #4a4b46;

// Fonts
$heading-font: 'Cormorant Garamond', serif;
$subheading-font: 'Fragment Mono', monospace;
$body-font: 'Inter Tight', sans-serif;

// Media Query Breakpoints
$small: 0rem;
$medium: 48rem;
$large: 64rem;

// Spacing
$space-xs: 0.5rem;
$space-sm: 1rem;
$space-md: 1.5rem;
$space-lg: 2rem;
$space-xl: 4rem;
$space-2xl: 6rem;
